body{
	font-family: 'Economica', sans-serif;
	background: #EDEFF0;
}
.wrapper{
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}
.main_header{
	background: white;
  width: 100%;
	margin: 0 auto;
	#logo
		{
			float: left;
				a	
					{
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: -1px;
						font-size: 1.2rem;
						text-decoration: none;
						color: #397CAC;
					}
		}
	#button
	{
		float: right;
		a{
			line-height: 60px;
			background: #397CAC;
			padding: .5em 1em;
			color: white;
			border-radius:0.2em;
			text-decoration:none;
			font-weight:100;
		}
	}
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after
{
	clear: both;
}
#posts{
background:white;
padding: 2em 5%;
border-radius: 2em;
	.post{
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title
		{
		margin:0;
			a
			{
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date{
						margin-top: .25rem;
						font-size: 0.9rem;
						color: #B2BAC2
				 }
				}
}
.button{
			color:white;
			border:1px solid black;
			padding: .5em 1em;
			border-radius: 0.2em;
			text-decoration: none;
			margin-right:2%;
	
}
#post_content
{
	background: white;
	border-radius:.5em;
	padding:2em 5%;
	h1{
	font-size:2em;
	font-weight:100;
	color:#397CAC;
	margin-top:0;
	}
	p{
		color:#B2BAC2;
		font-size:0.9rem;
		font-weight:100;
		line-height:1.5;
	}
	#comments{
	.comment
	{
		border-bottom: 1px solid #d1d1d1;
		padding-bottom: 1em;
		margin-bottom: 1em;
		.content
		{
			width: 70%;
			float: left;
		}
		.buttons
		{
			width: 25%;
			float: left;
			font-size: 0.8em;
			text-align: right;
			padding-top:1.5em;
			a{
				color:white;
				border:1px solid black;
				padding: .5em 1em;
				border-radius: 0.2em;
				text-decoration: none;
				margin-right:2%; 
			}
		}
		.comment_content
		{
			margin: 0;
			padding: 0;
		}
		.comment_author
		{
			color: #397CAC;
			margin-top: .5rem;
			font-size: 0.6em;
			font-weight: 700;

		}
		}
		input[type="submit"]
		{
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: 0.5em 1em;
			border-radius:0.2em;

		}
		textarea{
		width: 100%;
		min-length:200px;
		border: 1px solid #d1d1d1;
		border-radius:0.2em;
		margin:1em 0;
	}
}

	a{
			line-height: 60px;
			background: #388CAC;
			padding: .5em 1em;
			color: white;
			border-radius:0.2em;
			text-decoration:none;
			font-weight:100;
	}
}